node_modules
dist
.env
*.local

# Backend
backend/dist/
backend/uploads/

# Frontend

# Documentos de guión local
GUIÓN-*.md
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.vercel
